version: '3'
services:
  # applications
  frontend:
    build:
      context: frontend
      args:
        REACT_APP_API_URL: http://api:5001/graphql
    restart: always
    container_name: frontend
    ports:
      - '5000:80'
    depends_on:
      - api
  api:
    build: api
    restart: always
    container_name: api
    ports:
      - '5001:5001'
    depends_on:
      - cdn-master
      - database
      - queue
    environment:
      CDN_URL: 'http://cdn-master:5020'
      CDN_CHUNK_SIZE: 1048576
      CDN_TIMEOUT: 5
      DB_URI: 'mongodb://root:root@database:5010/iris?authSource=admin'
      DB_NAME: iris
      QUEUE_URI: 'amqp://root:root@queue:5030'
      QUEUE_NAME: iris.process
  worker:
    build: worker
    restart: always
    container_name: worker
    environment:
      CDN_URL: cdn-master
      CDN_PORT: 5020
      DB_URI: mongodb://root:root@database:5010/iris?authSource=admin
      DB_NAME: iris
      QUEUE_URI: amqp://root:root@queue:5030/
      COMMON_QUEUE_NAME: iris.process
      INTERNAL_QUEUE_NAME: iris.inference
    depends_on:
      - queue
  # infra services
  database:
    image: mongo
    restart: always
    container_name: database
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: iris
    command: 'mongod --port 5010'
    ports:
      - '5010:5010'
    volumes:
      - ./infra/mongodb/create_indexes.js:/docker-entrypoint-initdb.d/create_indexes.js:ro
  cdn-master:
    container_name: cdn-master
    image: chrislusf/seaweedfs
    ports:
      - '5020:5020'
      - '15020:15020'
    command: 'master -ip=cdn-master -port=5020 -port.grpc=15020'
  cdn-volume:
    container_name: cdn-volume
    image: chrislusf/seaweedfs
    ports:
      - '5021:5021'
      - '15021:15021'
    command: 'volume -ip=cdn-volume -mserver="cdn-master:5020" -port=5021'
    depends_on:
      - cdn-master
  queue:
    container_name: queue
    image: rabbitmq:3.9.5-management
    environment:
      RABBITMQ_NODE_PORT: 5030
      RABBITMQ_DEFAULT_USER: root
      RABBITMQ_DEFAULT_PASS: root
    ports:
      - '5030:5030'
      - '15030:15672'
    volumes:
      - ./infra/rabbitmq/rabbitmq.config:/etc/rabbitmq/rabbitmq.config:ro
      - ./infra/rabbitmq/definitions.json:/etc/rabbitmq/definitions.json:ro
networks:
  iris:
    driver: bridge
