@import './utils/variables';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font;
  background-color: $primary-color;
  color: $font-color;
}

body,
span {
  font-family: $font;
}

strong,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

p {
  line-height: 24px;
  word-wrap: break-word;
  color: $font-color;
}

.link {
  text-decoration: none;
  color: $link-color;
}

.grid-cols > .mdc-layout-grid__inner {
  display: flex;
  justify-content: space-between;
}

.mdc-image-list__image-aspect-container .mdc-image-list__image {
  object-fit: cover !important;
}

.mdc-image-list--with-text-protection .mdc-image-list__supporting {
  background: rgba(0, 0, 0, 0.2) !important;
}

.mdc-layout-grid {
  padding: 18px 24px 0px 24px !important;
}

.mdc-layout-grid__inner {
  grid-gap: 12px !important;
}

/*
.mdc-dialog .mdc-dialog__scrim {
  background: transparent;
}
*/

.mdc-drawer--dismissible.mdc-drawer--open {
  z-index: 0;
}

.mdc-dialog__surface {
  box-shadow: 0px 0px 8px 2px #000000a1 !important;
}

.edit-section {
  display: flex;
  align-items: center;
}

.mdc-image-list__supporting {
  justify-content: center !important;
}

.album-list-info {
  justify-content: left !important;
}

.mdc-image-list__label,
.mdc-text-field__input {
  font-family: $font;
}

.photo-grid-cell {
  position: relative;
}

.fav-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 8px 0px 0px;
}

.del-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px 0px 0px 8px;
}

.select-photo {
  position: relative;

  .select-icon {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.leaflet-container {
  width: 100%;
  height: 200px;
  z-index: 0;
}
