$font: 'Inter', sans-serif !important;
$primary-color: #ffffff;
$secondary-color: #812ce5;
$font-color: #000000;
$link-color: #4800b2;
$primary-light-color: #eadafb;
$primary-dark-color: #4800b2;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font;
  background-color: $primary-color;
  color: $font-color;
}

body,
span {
  font-family: $font;
}

strong,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

p {
  line-height: 24px;
  word-wrap: break-word;
  color: $font-color;
}

.link {
  text-decoration: none;
  color: $link-color;
}

.top-app-bar {
  background-color: $primary-color;
  border-bottom: 1px solid #e0e0e0;
}

.header-title {
  display: flex;
  text-decoration: none;
  color: #812ce5 !important;
  align-content: space-between;
}

.icon {
  position: relative;
  font-size: 30px;
  margin-right: 5px;
  top: 6px;
}

/* sidenav styles start */
.drawer {
  position: fixed;
  margin: 1px 0px !important;
}

.drawer-content {
  padding: 0px 10px;
}

.list-item {
  margin: 5px 0px !important;
}

.drawer-subtitle {
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0px 10px 15px;
  text-transform: uppercase;
  color: #9e9e9e !important;
}

.side-nav-icon {
  color: #757575;
  margin-right: 16px;
}

.nav-link {
  text-decoration: none;
  display: block;
  color: black;
}

.nav-link:hover {
  background: $primary-light-color;
  color: $primary-dark-color !important;
  border-radius: 4px;
}

.nav-link:active {
  background: $primary-light-color;
  border-radius: 4px;
}

.activated {
  border-radius: 4px;
  background: $primary-light-color;
}

.activated > * {
  color: $primary-dark-color !important;
  font-weight: bold;
}

.activated .side-nav-icon {
  color: $primary-dark-color !important;
}
/* sidenav styles end */

.search-bar-section {
  width: 100%;
}

.search-bar > .mdc-text-field__input {
  padding-top: 16px;
}

.search-bar {
  border-radius: 4px !important;
  background-color: #f1f3f4 !important;
  height: 40px;
  width: 100%;
}

.search-bar:focus {
  outline: none !important;
}

@media only screen and (max-width: 600px) {
  .search-bar-section {
    max-width: 180px;
  }
}

.grid-cols > .mdc-layout-grid__inner {
  display: flex;
  justify-content: space-between;
}

.mdc-image-list__image-aspect-container .mdc-image-list__image {
  object-fit: cover !important;
}

.mdc-image-list--with-text-protection .mdc-image-list__supporting {
  background: rgba(0, 0, 0, 0.2) !important;
  justify-content: center !important;
}

.mdc-layout-grid {
  padding: 18px 24px 0px 24px !important;
}

.mdc-layout-grid__inner {
  grid-gap: 12px !important;
}

.mdc-dialog .mdc-dialog__scrim {
  background: transparent;
}

.mdc-dialog__surface {
  box-shadow: 0px 0px 8px 2px #000000a1 !important;
}

.edit-section {
  display: flex;
  align-items: center;
}

.mdc-image-list__supporting {
  justify-content: center !important;
}

.mdc-image-list__label,
.mdc-text-field__input {
  font-family: $font;
}

.photo-grid-cell {
  position: relative;
}

.fav-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 8px 0px 0px;
}
